{{ define "main" }}
	<div class="post-meta">
		{{ partial "back_link.html" . }}
		{{ if not .Date.IsZero }}
			<p>
				<time datetime="{{ .Date }}">
					{{ .Date | time.Format site.Params.themeConfig.dateFormat }}
				</time>
			</p>
		{{ end }}
	</div>
	<article>
		<h1>{{ .Title }}</h1>
		{{ with .Params.tags }}
			<p>
				{{ range . }}
					<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
				{{ end }}
			</p>
		{{ end }}
		{{ if .Params.toc }}
			<aside {{ if .Params.tocBorder }}class="toc"{{ end }}>
				{{ .TableOfContents }}
			</aside>
		{{ end }}
		{{ .Content }}
	</article>
{{ end }}
